<% provide(:title, @user.display_name) %>
<div class="row">
  <aside class="span7">
    <section>
      <section>
        <h1>
        <%= gravatar_for @user %>
        <%= @user.display_name %>
      </h1>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
      	<div class="span3">
      		<%= render 'shared/house' %>
      	</div>
      	<% unless current_user && current_user?(@user) %>
	      	<div class="span3 btn-group-interaction">
	      		<%= link_to "Knock on the door", '#', class: "btn" %>
	      		<%= link_to "Leave a message", '#', class: "btn" %>
	      		<%= link_to "Start a chat", '#', class: "btn" %>
	      		<%= link_to "Give a gift", '#', class: "btn" %>
	      		<%= link_to "Make friends", '#', class: "btn" %>
	      	</div>
      	<% end %>
      </section>
    </section>
  </aside>
  <div class="span5">
    <% if @user.own_stories.any? %>
      <h3>Stories (<%= @user.own_stories.count %>)</h3>
      <ol class="stories">
        <%= render @stories %>
      </ol>
      <%= will_paginate @stories %>
    <% end %>
  </div>
</div>
