<% if @friend_feeds.any? %>
  <h3>Friends Feed</h3>
  <ol class="stories">
    <%= render partial: 'shared/feed_item', collection: @friend_feeds %>
  </ol>
  <%= will_paginate @friend_feeds %>
<% end %>
<% if @attraction_feeds.any? %>
  <h3>Attractions Feed</h3>
  <ol class="stories">
    <%= render partial: 'shared/feed_item', collection: @attraction_feeds %>
  </ol>
  <%= will_paginate @attraction_feeds %>
<% end %>
<% if @shop_feeds.any? %>
  <h3>Shops Feed</h3>
  <ol class="stories">
    <%= render partial: 'shared/feed_item', collection: @shop_feeds %>
  </ol>
  <%= will_paginate @shop_feeds %>
<% end %>