<div class="row">
	<div class="span3">
	<%= link_to image_tag("houses/house#{@user.house_id+1}.jpg", class: "wide_image"), '#' %>
	</div>
	<div class="span3">
	<% if current_user && current_user?(@user) %>
		<div class="center">
			coins
			<strong class="stat">
				<%= @user.coins %>
			</strong>
		</div>
	<% else %>
	  	<div class="btn-group-interaction">
	  		<%= link_to "Knock on the door", new_story_path, remote: true, class: "btn" %>
	  		<%= link_to "Leave a message", signin_path, class: "btn" %>
	  		<%= link_to "Start a chat", signin_path, class: "btn" %>
	  		<%= link_to "Give a gift", signin_path, class: "btn" %>
	  		<%= render 'relationships/relationship_form' %>
	  	</div>
	<% end %>
	</div>
</div>
