<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
      	<%= render 'shared/house' %>
      </section>
      <section id="story_form">
        <%= render 'stories/story_form' %>
      </section>
      <section>
      	<%= render 'shared/recent_activities' %>
      </section>
    </aside>
    <div class="span5">
      <%= render 'shared/feed' %>
    </div>
    <div class="span3">
    		<%= render 'shared/world_events' %>
    </div>
  </div>  