<% @user ||= current_user %>
<div class="stats">
  <a href="<%= friends_user_path(@user) %>">
    <strong id="senders" class="stat">
      <%= @user.friends.count %>
    </strong>
    friends
  </a>
  <a href="<%= attractions_user_path(@user) %>">
    <strong id="senders" class="stat">
      <%= @user.attractions.count %>
    </strong>
    attractions
  </a><a href="<%= shops_user_path(@user) %>">
    <strong id="senders" class="stat">
      <%= @user.shops.count %>
    </strong>
    shops
  </a>
</div>